page{
	background-color: #EEEEEE;
	padding-top: 0.5rem;
}
.ttl_right{
	display: flex;
	justify-content: flex-start;
}
.uni-list{
	background-color: #FFFFFF;
}
.labe_list{
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #EEEEEE;
}
.info{
	width:80%;
	margin-left:1rem;
}
.info view{
	height: 1.2rem;
	line-height: 1.2rem;
	color: #333333;
	font-size: 28upx;
}
.checkview{
	margin-top: 0.5rem;
	margin-right: 0.5rem;
}
/* #ifdef H5*/
checkbox .uni-checkbox-input{
	border-radius: 50%;
}
checkbox .uni-checkbox-input.uni-checkbox-input-checked{
	border:1px solid #ED7A2B;
	color: #ED7A2B !important;
}
checkbox .uni-checkbox-input.uni-checkbox-input-checked::before{
	
}
/* #endif */
/* #ifdef APP-PLUS || MP-WEIXIN*/
checkbox .wx-checkbox-input{
	border-radius: 50%;
}
checkbox .wx-checkbox-input.wx-checkbox-input-checked{
	border:1px solid #ED7A2B;
	color: #ED7A2B !important;
}
checkbox .wx-checkbox-input.wx-checkbox-input-checked::before{
	
}
/* #endif */